// colors

$text-color-1: #1f1e25;
$text-color-gray: #707c87;
$text-color-gray2: #e0e1ea;
$text-color-black: #000000;
$color-blue: #2c36f2;
$bg-color-blocks: #f6f7ff;
$bg-color-general: #ffffff;

// sizes

$content-width: 1170px;