.currency-select {
  position: relative;
}

.currency-select__list {
  position: relative;
  z-index: 5;
  padding: 9px 25px 9px 18px;
  width: 120px;
  height: 60px;
  border: 1px solid #1F1E25;
  border-radius: 4px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 400;
  cursor: pointer;
  appearance: none;
  background-color: transparent;
}

.currency-select__icon {
  position: absolute;
  z-index: 1;
  width: 18px;
  height: 11px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 17px;
  cursor: pointer;
}